{% from 'common/_macros.html' import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>知了课堂注册页面</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <script src="{{ static('common/zlparam.js') }}"></script>
    <script src="{{ url_for('static', filename='common/zlajax.js') }}"></script>
    <link rel="stylesheet" href="{{ static('common/sweetalert/sweetalert.css') }}">
    <script src="{{ static('common/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ static('common/sweetalert/zlalert.js') }}"></script>

    <script src="{{ static('front/js/front_signup.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_signup.css') }}">
</head>
<body>
<div class="outer-box">
    <div class="logo-box">
        <a href="/">
            {# 加载logo图标 #}
            <img src="{{ static('common/images/logo.png') }}" alt="">
        </a>
    </div>
    <h2 class="page-title">知了账号登陆</h2>
    <div class="sign-box">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="telephone" placeholder="手机号码">
                <span class="input-group-btn">
                    <button id="sms-captcha-btn" class="btn btn-default">发送验证码</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="sms_captcha" placeholder="短信验证码">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="用户名">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password1" placeholder="密码">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password2" placeholder="确认密码">
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="graph_captcha" placeholder="图形验证码">
                <span class="input-group-addon captcha-addon">
                    <img id="captcha-img" class="captcha-img" src="{{ url_for('common.graph_captcha') }}" alt="">
            </span>
            </div>
        </div>
        <div class="form-group">
            <span style="display: none;" id="return-to-span">{{ return_to }}</span>
            <button id="submit-btn" class="btn btn-warning btn-block">立即注册</button>
        </div>
    </div>
</div>
</body>
</html>